@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preserve autofill styling globally */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}
